@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


section {
    width: 100%;
    font-size: 30px;
    color: #888;
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    flex-direction: column;
}


#welcome img {
    width: 75vh;
    margin-top: 1vh;
    margin-left: auto;

}
#welcome h1 {
  font-size: 3em;
}

#welcome #text {
    position: absolute;
    font-size: 1em;
    top: calc(80% - 20vw);
    left: 10vw;
    width: calc(100% - 10vw);
    margin-left: 1vw;
    margin-right: 11w;

}

@media screen and (max-width: 1100px) {
  #welcome {
    font-size: 16px;
  }
}

#whoami h1 {
  font-size: 4em;
}

#whoami #text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
} 

#whoami {
    margin-bottom: 35vh;
}


#whoami #inner-div {
  margin-left: 1vw;
  width: 40%;
}


#whoami #vertical-separator {
    height: 14em;
    width: 2px;
    background-color: green;
}

#contact, #whoami {
    flex-direction: column;
}

#contact  {
  font-size: 40px;
    display: flex;
    flex-direction: row;
    /* background-color: white; */
}
#contact h1 {
  font-size: 2em;
}

#contact #text {
  margin-left: auto;
  z-index: 2;
  height: 70vh;
  /* background-color: #00000070; */
  /* padding: 2em; */
  /* border-radius: 20px; */
}

#contact ul {
    margin-left: auto;
    margin-right: 15vw;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

#contact > img {
  position: absolute;
    height: 70vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

@media screen and (max-width: 790px) {
  #contact > img {
      opacity: 0.7;
      height: 50vh;
      left: 50vw;
      transform: translate(-50%);
      margin-left: 0;
      margin-right: 0;
  }
  #contact {
    font-size: 30px;
  }
}
/* #contact h1 { */
/*     margin-right: auto; */
/* } */

#contact li img {
    height: 1em;
    margin-left: 1em;
}

#contact li {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1em;
    margin-bottom: 0.5em;
}
#contact li a {
    color: #888;
    text-decoration: none;
    text-align: right;
    transition: 200ms color;

}

#contact li a:hover {
    color: white;
    transition: 200ms color;
}



#last {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .03em solid #888;
    height: 1em;
    padding-right: 0.2em;
    animation: blink-caret .75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #888; }
}

#bracket {
    font-size: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;

    color: green;
}








#wip {
    width: 100%;
    height: 500px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(47,47,47,1) 70%, rgba(0,0,0,1) 100%); 
}

#wip {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wip p {
    font-family: 'Share Tech Mono', monospace; 
    font-size: 2vw;
    color: #888;
}


@media screen and (max-width: 1300px) {
  #whoami #text {
    flex-direction: column;
    width: 100%;
  }

  #whoami #vertical-separator {
    height: 2px;
    width: 50%;
    margin: 3em;
  }
  #whoami #inner-div {
    width: 75%;
    margin-left: 0;
  }
  #whoami p {
    text-align: justify;
  }
}


@media screen and (max-width: 680px) {
  #whoami {
    font-size: 16px;
    margin-top: 1vh
  }
  
}
