@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


section {
    width: 100%;
    font-size: 30px;
    color: #888;
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    flex-direction: column;
}


#welcome img {
    width: 75vh;
    margin-top: 1vh;
    margin-left: auto;

}

#welcome #text {
    position: absolute;
    top: calc(80% - 20vw);
    left: 10vw;
    width: calc(100% - 10vw);

}

h1 {
    font-family: 'Poiret One', cursive;
    font-size: 90px;
    margin: 0px;
}

p {
    line-height: 1.8em;
}

#whoami h1 {
    margin-left: 2em;
}

#whoami #text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
} 
#whoami p {
    width: 40%;
}

#whoami {
    margin-bottom: 35vh;
}


#whoami #vertical-separator {
    
    height: 14em;
    width: 2px;
    background-color: green;
}

#contact, #whoami {
    flex-direction: column;
}

#contact #text {
    display: flex;
    flex-direction: row;
}

#contact ul {
    margin-left: auto;
    margin-right: 15vw;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
}

#contact img {
    height: 70vh;
}
#contact h1 {
    margin-left: auto;
    margin-right: 15vw;
}

#contact li img {
    height: 1em;
    margin-left: 1em;
}

#contact li {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 40px;
    margin-bottom: 0.5em;
}
#contact li a {
    color: #888;
    text-decoration: none;
    text-align: right;
    transition: 200ms color;

}

#contact li a:hover {
    color: white;
    transition: 200ms color;
}

#end {
    height: 40vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

}


#last {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .03em solid #888;
    height: 1em;
    padding-right: 0.2em;
    animation: blink-caret .75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #888; }
}

#bracket {
    font-size: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;

    color: green;
}

#end a {
    text-decoration: none;
    color: #888;
    transition: 200ms color;

}

#end a:hover {
    transition: 200ms color;
    color: white;
}



#wip {
    width: 100%;
    height: 500px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(47,47,47,1) 70%, rgba(0,0,0,1) 100%); 
}

#wip {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wip p {
    font-family: 'Share Tech Mono', monospace; 
    font-size: 2vw;
    color: #888;
}